<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- MAIN CSS -->
    <link rel="icon" type="image/x-icon" href="/images/spartan-logo.png">
    <link rel="stylesheet" href="/css/aboutus.css">
</head>
<body>
<!-- Sección Inicio -->
<header>
    <a href="/" class="logo">Spartan Wrath</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Market" >Tienda</a></li>
        <li><a href="/AboutUs" class="active">About Us</a></li>
        <li><a href="/login">Login</a></li>
        {{#logged}}
        {{#isAdmin}}
        <li><a href="/Admin">Admin</a></li>
        {{/isAdmin}}
        {{#isUser}}
        <li><a href="/Membership">Memberships</a></li>
        <li><a href="/private">Perfil</a></li>
        {{/isUser}}
        {{/logged}}
    </ul>
</header>
    <section class="top">
        <img src="/images/sky.png" id="sky">
        <img src="/images/cloud.png" id="cloud">
        <img src="/images/hill_03.png" id="mountains_behind">
        <img src="/images/hill_02.png" id="mountains_02">
        <img src="/images/hill_01.png" id="mountains_03">
        <img src="/images/tree.png" id="tree">
        <h2 id="texto">About Us</h2>
        <a href="#sec" id="boton">Grupo L</a>
        <img src="/images/city.png" id="city">
    </section>
    <div class="sec" id="sec" style="text-align: center">
        <h2>About us</h2>
        <p> "Ven a luchar, en definitiva, contra el oponente más formidable que puedes encontrar: tú mismo".<br><br>
            Encuentranos en: C. Tulipán, 3, 28933 Móstoles, Madrid, a partir del 1-12-2025<br><br>
            Contacta con nosotros: atencionalcliente@spartanwrath.es<br><br>
            ¿No contesta el correo? Llama al +34 645 321 123<br><br>
            Gracias por interesarte en nuestro gimnasio. Recueda: ¡No te cagues!</p>
            <br><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3041.2821317838225!2d-3.8742989893954096!3d40.33608696042607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd418e64b4d4b9bb%3A0x276639e91fb8d06c!2zQy4gVHVsaXDDoW4sIDMsIDI4OTMzIE3Ds3N0b2xlcywgTWFkcmlk!5e0!3m2!1ses!2ses!4v1709745275854!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <br><br>
    </div>

<!-- Seccion Instalaciones -->
<section class="instalaciones">
<div class="square">
    <span>   </span>
    <span>   </span>
    <span>   </span>
    <div class="content">
        <div class="contentBx active" id="content1">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/boxing_zone.jpeg">
                </div>
                <div class="textBx">
                    <h2>Sala Boxeo/K1<br></h2>
                </div>
            </div>
        </div>
        <div class="contentBx" id="content2">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/ring.jpg">
                </div>
                <div class="textBx">
                    <h2>Ring<br></h2>
                </div>
            </div>
        </div>
        <div class="contentBx" id="content3">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/karate_zone.jpg">
                </div>
                <div class="textBx">
                    <h2>Sala karate<br></h2>
                </div>
            </div>
        </div>
        <div class="contentBx" id="content4">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/jiu_jitsu_zone.jpeg">
                </div>
                <div class="textBx">
                    <h2>Sala jiu jitsu brasileño<br></h2>
                </div>
            </div>
        </div>
        <div class="contentBx" id="content5">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/gym_zone.jpg">
                </div>
                <div class="textBx">
                    <h2>Zona de musculación<br></h2>
                </div>
            </div>
        </div>
        <div class="contentBx" id="content6">
            <div class="card">
                <div class="imgBx">
                    <img src="/images/cardio_zone.jpg">
                </div>
                <div class="textBx">
                    <h2>Zona de cardio<br></h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom">
    <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
    </div>
<div class="icon">
    <div class="imgBx active" data-id="content1">
        <img src="/images/boxing_zone.jpeg">
    </div>
    <div class="imgBx" data-id="content2">
        <img src="/images/ring.jpg">
    </div>
    <div class="imgBx" data-id="content3">
        <img src="/images/karate_zone.jpg">
    </div>
    <div class="imgBx" data-id="content4">
        <img src="/images/jiu_jitsu_zone.jpeg">
    </div>
    <div class="imgBx" data-id="content5">
        <img src="/images/gym_zone.jpg">
    </div>
    <div class="imgBx" data-id="content6">
        <img src="/images/cardio_zone.jpg">
    </div>
</div>
</div>
</section>
<!--Pie de página-->
<footer class="pie">
    <div class="pie2">
    <img class="footer-logo" src="/images/spartan-logo.png" alt="logo de SW">
    <p class="footer-texto">This is<br> SPARTA!</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
</footer>

<!-- Scripts -->
<script src="/js/AboutUs.js" defer></script>
</body>
</html>