<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/market.css">-->
    <link rel="icon" type="image/x-icon" href="../images/spartan-logo.png">
    <link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
<header>
    <a href="/" class="logo">spartan wrath</a>
    <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/Market">Tienda</a> </li>
        <li> <a href="/AboutUs">About Us</a> </li>
        <!--<li> <a href="/login">Login</a> </li>-->
        <li> <a href="/Admin">Admin</a> </li>
        <li> <a href="/Membership">Memberships</a> </li>
        <!--<li><a href="/private">Pagina de usuario</a></li>-->
    </ul>
</header>


<section class="top">
    <img src="../images/sky.png" id="sky">
    <img src="../images/cloud.png" id="cloud">
    <img src="../images/hill_03.png" id="mountains_behind">
    <img src="../images/hill_02.png" id="mountains_02">
    <img src="../images/hill_01.png" id="mountains_03">
    <img src="../images/tree.png" id="tree">
    <h2 id="texto">Spartan Market</h2>
    <a href="/Admin/combatclass" id="boton">Clases</a>
    <img src="../images/city.png" id="city">
</section>
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="../images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">This is<br> SPARTA!</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
</footer>

<script src="../js/aboutus.js"></script>
</body>
</html>
