<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Spartan Wrath</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- MAIN CSS -->
    <link rel="icon" type="image/x-icon" href="../../images/spartan-logo.png">
    <link rel="stylesheet" href="../../css/aboutus.css">
</head>
<body>
<!-- Start Section -->
<header>
    <a href="/" class="logo">spartan wrath</a>
    <ul>
        <li> <a href="/">Inicio</a> </li>
        <li> <a href="/Market">Tienda</a> </li>
        <li> <a href="/AboutUs">About Us</a> </li>
        <li> <a href="/login">Login</a> </li>
        <li> <a href="/Admin">Admin</a> </li>
        <li> <a href="/Mymemberships">My memberships</a> </li>
        <!--<li><a href="/private">Pagina de usuario</a></li>-->
    </ul>
</header>
<section class="top">
    <img src="../../images/sky.png" id="sky">
    <img src="../../images/cloud.png" id="cloud">
    <img src="../../images/hill_03.png" id="mountains_behind">
    <h2 id="texto" style="right: 550px; color: #0a0a23;z-index: 7">Error 404</h2>
    {{#error}}
    <div class="error-message">{{error}}</div>
    {{/error}}
</section>

<!--Footer-->
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="../../images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Errar,<br> es humano.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
</footer>
<!-- Scripts -->
<script src="../../js/AboutUs.js" defer></script>
</body>
</html>