<!DOCTYPE html>
<html lang="es">
<head>
    <title>New Product</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spartan Market</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/market.css">-->
    <link rel="icon" type="image/x-icon" href="/images/spartan-logo.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.snow.css" rel="stylesheet" />
</head>
<body>
<header>
    <a href="/" class="logo">Spartan Wrath</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Market" class="active">Tienda</a></li>
        <li><a href="/AboutUs" >About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/Membership">Memberships</a></li>
        {{#logged}}
        {{#isAdmin}}
        <li><a href="/Admin">Admin</a></li>
        {{/isAdmin}}
        {{#isUser}}
        <li><a href="/private">Perfil</a></li>
        {{/isUser}}
        {{/logged}}
    </ul>
</header>
<div class="sec" id="sec">
    <form action="/nuevoproducto" method="post" class="input-group" enctype="multipart/form-data">
        <h2>Nuevo Producto</h2>
        <div>
            <label style="color: white">Nombre: </label>
            <input name="nombre" placeholder="nombre"/>
        </div>
        <br>
        <div id="editor-container">
            <label style="color: white">Descripcion: </label>
            <div id="editor"></div>
            <textarea name="descripcion" placeholder="descripcion" id="description-textarea" style="visibility: hidden;" required></textarea>
        </div>
        <br>
        <div>
        <!--<p>Imagen: </p>-->
        <label style="color: white">Imagen</label>
        <input style="color: white" type='file' name='imageFile' accept=".jpg, .jpeg" />
        </div>
        <br>
        <div>
            <label style="color: white">Precio: </label>
            <input name="precio" type="number"/>
        </div>
        <br>
        <div>
            <label style="color: white">Cantidad: </label>
            <input name="cantidad" type="number"/>
        </div>
        <br>
        <div>
            <label style="color: white">Categoría: </label>
            <input name="category" placeholder="category"/>
        </div>
        <br>
        <p>
            <input type="hidden" name="_csrf" value="{{token}}"/>
            <button onclick="location.href='/'; return false;">Cancel</button>
            <input type="submit" value="Save"/>
        </p>
    </form>
</div>

<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="/images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Respice post te!<br> Hominem te esse memento.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo R-2 ©</div>
</footer>
<!-- Include the Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-rc.2/dist/quill.js"></script>
<!-- Initialize Quill editor -->
<script>
    const quill = new Quill('#editor', {
        theme: 'snow'
    });
    quill.on('text-change', function () {
        document.getElementById('description-textarea').value = quill.root.innerHTML;
    });
</script>
<script src="/js/aboutus.js"></script>
</body>
</html>