<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <title>SpartanWrath</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="team" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- MAIN CSS -->
    <link rel="icon" type="image/x-icon" href="../images/spartan-logo.png">
    <link rel="stylesheet" href="../css/aboutus.css">
</head>
<body>
<!-- Start Section -->
<header>
    <a href="/" class="logo">Spartan Wrath</a>
    <ul>
        <li> <a href="/" class="active">Home</a> </li>
        <li> <a href="/Market">Tienda</a> </li>
        <li> <a href="/AboutUs">About Us</a> </li>
        <!--<li> <a href="/login">Login</a> </li>-->
        <li> <a href="/Admin">Admin</a> </li>
        <li> <a href="/Membership">Memberships</a> </li>
        <!--<li><a href="/private">Perfil</a></li>-->
    </ul>
</header>
<section class="top">
    <img src="../images/sky.png" id="sky">
    <img src="../images/cloud.png" id="cloud">
    <img src="../images/hill_03.png" id="mountains_behind">
    <img src="../images/hill_02.png" id="mountains_02">
    <img src="../images/hill_01.png" id="mountains_03">
    <img src="../images/tree.png" id="tree">
    <h2 id="texto" style="right: -832px;z-index: 7;color: #0a0a23">Become a Spartan</h2>
    <!--<a href="#sec" id="boton">DWS</a>-->
    <img src="../images/city.png" id="city">
</section>
<div class="sec" id="sec">
    <h2>Bienvenido a Spartan Wrath</h2>
    <h3>

        <p>En Spartan Wrath, nos inspiramos en la filosofía espartana y el estoicismo para impulsarte a alcanzar tus objetivos de fitness y superar tus límites personales.
            En nuestro gimnasio, encontrarás un ambiente de disciplina, determinación y fuerza interior que te ayudará a alcanzar tu máximo potencial.</p>
        <br>
        <p>Aquí, no se trata solo de ejercitar el cuerpo,
            sino también de fortalecer la mente y el espíritu.
            Creemos en el poder del esfuerzo constante, la resistencia ante la adversidad y la perseverancia en la búsqueda de la excelencia.</p>
        <br>
        <p>Nuestro equipo de entrenadores altamente cualificados está comprometido en brindarte el apoyo y la motivación que necesitas para alcanzar tus metas.
            Ya sea que estés buscando mejorar tu salud, ganar fuerza, perder peso o simplemente desafiar tus límites, estamos aquí para ayudarte en cada paso del camino.
            Únete a la comunidad de Spartan Wrath y descubre el verdadero significado de la fuerza, la determinación y el logro personal. ¡Prepárate para transformar tu vida y convertirte en la mejor versión de ti mismo!</p>
        <br>
        <p>¡Es hora de entrenar como un espartano y alcanzar la grandeza que llevas dentro! ¡Bienvenido a Spartan Wrath, donde tus sueños se convierten en realidad!</p>

    </h3>
</div>
<!--Footer-->
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="../images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Respice post te!<br> Hominem te esse memento.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
    <!--<a href="register.html">Register</a>-->
</footer>
<!-- Scripts -->
<script src="/js/AboutUs.js" defer></script>
</body>
</html>