<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{membership.nombre}} - Membership</title>
    <link rel="icon" type="image/x-icon" href="/images/spartan-logo.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<header>
    <a href="/" class="logo">Spartan Wrath</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Market" >Tienda</a></li>
        <li><a href="/AboutUs">About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/Membership">Memberships</a></li>
        {{#logged}}
        {{#isAdmin}}
        <li><a href="/Admin">Admin</a></li>
        {{/isAdmin}}
        {{#isUser}}
        <li><a href="/private">Perfil</a></li>
        {{/isUser}}
        {{/logged}}
    </ul>
</header>

<div class="sec" id="sec">
    <h2>{{membership.nombre}} - Detalles</h2>
</div>

<!-- Detalles de la Membresía -->
<section class="membership-details">
    <div class="container">
        <div class="card">
            <div class="contenido">
                <h2>{{membership.nombre}}</h2>
                <p>Precio: ${{membership.precio}}</p>
                <p class="lead">{{membership.descripcion}}</p>
                <p>Fecha de alta: {{membership.fechaalta}}</p>
                <p>Fecha de fin: {{membership.fechafin}}</p>
                <form action="/Membership/{{membership.id}}" method="post">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    <button type="submit" id="boton2">Suscribirse</button>
                </form>
                {{#admin}}
                <a href="/Membership/{{membership.id}}/delete">Borrar</a>
                {{/admin}}
            </div>
        </div>
    </div>
</section>

<!-- Pie de página -->
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="/images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Respice post te!<br> Hominem te esse memento.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo R-2 ©</div>
</footer>

<script>
    VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 1,
    });
</script>
</body>
</html>
