<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spartan Market</title>
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/market.css">-->
    <link rel="icon" type="image/x-icon" href="/images/spartan-logo.png">
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
<header>
    <a href="/" class="logo">Spartan Wrath</a>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/Market" >Tienda</a></li>
        <li><a href="/AboutUs" class="active">About Us</a></li>
        <li><a href="/login">Login</a></li>
        {{#logged}}
        {{#isAdmin}}
        <li><a href="/Admin">Admin</a></li>
        {{/isAdmin}}
        {{#isUser}}
        <li><a href="/Membership">Memberships</a></li>
        <li><a href="/private">Perfil</a></li>
        {{/isUser}}
        {{/logged}}
        <div id="cart-icon" onclick="showCart()">🛒</div>
        <div id="cart" class="hide">
            <ul id="cart-items"></ul>
        </div>
    </ul>
</header>
<section class="top">
    <img src="/images/sky.png" id="sky">
    <img src="/images/cloud.png" id="cloud">
    <img src="/images/hill_03.png" id="mountains_behind">
    <img src="/images/hill_02.png" id="mountains_02">
    <img src="/images/hill_01.png" id="mountains_03">
    <img src="/images/tree.png" id="tree">
    <h2 id="texto">My Memberships</h2>
    <img src="/images/city.png" id="city">
</section>
<div class="sec" id="sec">
    <h2>Memberships</h2>
</div>
<!-- Seccion Cards -->
<section class="producto">
    <div class="container">
        {{#membership}}
        <div class="card">
            <div class="contenido">
                <h2>{{nombre}}</h2>
                <p>Precio: ${{precio}}</p>
                <a href="/Mymemberships/{{id}}">Más información</a>
            </div>
        </div>
        {{/membership}}
    </div>
</section>

<!--Pie de página-->
<footer class="pie">
    <div class="pie2">
        <img class="footer-logo" src="/images/spartan-logo.png" alt="logo de SW">
        <p class="footer-texto">Respice post te!<br> Hominem te esse memento.</p>
    </div>
    <div class="derechos-de-autor">Creado por Grupo L ©</div>
</footer>
<!-- Scripts -->
<script type="text/javascript" src="/js/AboutUs.js" defer></script>
<script type="text/javascript" src="/js/market.js"></script>
<script type="text/javascript" src="/js/vanilla-tilt.js"></script>
<script>
    VanillaTilt.init(document.querySelectorAll(".card"), {
        max: 25,
        speed: 400,
        glare: true,
        "max-glare": 1,
    });
</script>
</body>
</html>
